<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="DanTup.GPlusNotifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
 <userSettings>
  <DanTup.GPlusNotifier.Properties.Settings>
   <setting name="HasUpgradedSettings" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutomaticallyInstallUpdates" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HasSeenSettings" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseNotificationWindow" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CheckFrequencySeconds" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="NotificationsWindowSize" serializeAs="String">
    <value>0, 0</value>
   </setting>
  </DanTup.GPlusNotifier.Properties.Settings>
 </userSettings>
</configuration>
